/* colors based on http://upload.wikimedia.org/wikipedia/commons/b/b9/Apple_colors.svg */
body
  background #019edf
  font-family Helvetica, Arial

body > *
  margin 10px
  border-radius 2px

header
  background #fff
  width 500px
  text-align center
  padding 10px
  background-image -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0))

canvas
  background #eee
  width 520px
  height 520px

.solve
  opacity .8

svg
  margin 0

p
  background #f0f0f0
  padding 10px
  width 200px

button
  padding 5px