@font-face {
	font-family: 'Handwriting Draft';
	src: url('/fonts/handwriting-draft_free-version.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'AirCut';
  src: url('/fonts/aircut3.ttf');
  font-weight: normal;
  font-style: normal;
}